.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 50%;
}

.profileScreen__info {
  display: flex;
  flex-direction: row;
}

.profileScreen__details {
  margin-left: 25px;
  color: white;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__body > h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 400;
  border-bottom: 1px solid gray;
}

.profileScreen__info > img {
  height: 100px;
}
