.signupScreen {
  max-width: 450px;
  width: 100%;
  padding: 60px 70px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
}

.signupScreen > form {
  display: flex;
  flex-direction: column;
}

.signupScreen > form > input {
  height: 40px;
  margin-bottom: 14px;
  outline-width: 0;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.signupScreen > form > h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  background-color: red;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
